body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: sans-serif;
}

#main-screen { /* 메인 화면 배경 이미지 */
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-image: url("files/startscreen.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#main-screen h1 { /* 게임 제목 */
  color: white;
  text-shadow: 0 0 10px rgba(0,0,0,0.7);
  margin-bottom: 20px;
}

#main-screen button { /* 시작하기, 설명보기 */
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  margin: 10px;
  border: none;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  transition: background-color 0.3s ease;
}

#main-screen button:hover { /* 시작하기, 설명보기에 마우스커서 올렸을 때 */
  background-color: rgba(0, 0, 0, 0.8);
}

#game-screen { /* 게임 화면 */
  position: relative;
  width: 100vw;
  height: 100vh;
  background-color: black;
}

#game-grid { /* 그리드, 행렬 5:7 (요소 위치 지정하기 위한 밑작업) */
  display: grid;
  grid-template-rows: repeat(5, 1fr);
  grid-template-columns: repeat(7, 1fr);
  width: 100%;
  height: 100%;
  position: relative;
}

#room-image { /* 게임 화면 배경 이미지 */
  grid-row: 1 / 6;
  grid-column: 1 / 8;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}

.puzzle { /* 퍼즐 요소 기본 설정 */
  aspect-ratio: 1 / 1;
  width: 200px;
  height: auto;
  object-fit: contain;
  cursor: pointer;
  z-index: 2;
  justify-self: center;
  align-self: center;
}

#puzzle-computer { /* 퍼즐 요소 : 컴퓨터 */
  grid-row: 5;
  grid-column: 4;
}

#puzzle-book2 { /* 퍼즐 요소 : 책 */
  grid-row: 3;
  grid-column: 4;
}

#puzzle-radio { /* 퍼즐 요소 : 라디오 */
  grid-row: 3;
  grid-column: 5;
}

#puzzle-transparent {
  grid-row: 2;
  grid-column: 4;
}

#puzzle-safe {
  grid-row: 3;
  grid-column: 2;
  position: inherit;
  left: -10%;
  bottom: -20%;
}

#puzzle-manybooks {
  grid-row: 3;
  grid-column: 3;
  position: inherit;
  right: -50%;
  bottom: -35%;
}

/* corner 퍼즐 */
#puzzle-clock { /* 퍼즐 요소 : 시계 */
  grid-row: 2;
  grid-column: 4;
  transform: scale(0.5); 
}

#puzzle-papers {
  grid-row: 4;
  grid-column: 4;
  transform: scale(0.3); 
}

#puzzle-pc {
  grid-row: 5;
  grid-column: 6;
}

/* corridor 퍼즐 */
#puzzle-memo {
  grid-row: 3;
  grid-column: 2;
}

#puzzle-wrap-paper {
  grid-row: 5;
  grid-column: 4;
}

#puzzle-board-tilt {
  grid-row: 4;
  grid-column: 6;
}


.arrow { /* 화살표 기본 설정 */
  position: absolute;
  font-size: 30px;
  color: white;
  background-color: rgba(0,0,0,0.5);
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
  user-select: none;
  z-index: 10;
}

#arrow-up {
  top: 2%;
  left: 50%;
  transform: translateX(-50%);
}
#arrow-down {
  bottom: 2%;
  left: 50%;
  transform: translateX(-50%);
}
#arrow-left {
  top: 50%;
  left: 0.5%;
  transform: translateY(-50%);
}
#arrow-right {
  top: 50%;
  right: 0.5%;
  transform: translateY(-50%);
}

.modal { /* 불투명한 검은 가장자리 */
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0,0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

#howtoplay-modal img { /* 퍼즐 문제 기본 설정 */
  position: fixed;
  width: 50vw;
  /* height: 100px; */
  background-color: rgba(0,0,0,0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  border-radius: 8px;
}


/* 힌트/스토리 이미지 모달 이미지 */
#image-modal-img {
  max-width: 50vw;
  max-height: 60vh;
  width: auto;
  height: auto;
  border-radius: 8px;
  object-fit: contain;
}

#puzzle-modal-content { /* 퍼즐 문제 기본 설정 */
  background: white;
  padding: 70px;
  border-radius: 10px;
  width: 40vw;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* 퍼즐 문제 모달 이미지 */
#puzzle-modal-content img {
  max-width: 70%;
  max-height: 300px;
  margin-top: 15px;
  border-radius: 8px;
}

#puzzle-modal-content input {
  margin: 10px 0;
  padding: 10px;
  width: 50%;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: center;
}

#checkAnswerBtn {
  padding: 10px 20px;
  background-color: #4c6baf;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

#puzzle-modal-content button:hover {
  background-color: #4c6baf;
}

#resultMessage {
  margin-top: 10px;
  font-size: 18px;
}


#game-over-screen {
  background-color: rgba(0, 0, 0, 0.95);
  flex-direction: column;
  font-size: 2em;
}

.white-question {
  color: white;
}
