body {
    display: flex;
    position: fixed;
    top: 70px;
}

.back a {
    position: fixed;
    top: 2px;
    left: 2px;
    padding: 5px;
    background: rgb(132, 0, 0);
    color: white;
    text-decoration-line: none;
    z-index: 999;
    font-size: 15px;
    text-align: center;
    border-radius: 6px;
}

#door {
    width: 120px;
    padding: 40px;
    background: gray;
    color: white;
}

#lock {
    width: 120px;
    padding: 40px;
    background: gray;
    color: white;
}

#desk {
    width: 120px;
    padding: 40px;
    background: gray;
    color: white;
}

#computer {
    width: 120px;
    padding: 40px;
    background: gray;
    color: white;
}

#chair {
    width: 120px;
    padding: 40px;
    background: gray;
    color: white;
}

#lectern {
    width: 120px;
    padding: 40px;
    background: gray;
    color: white;
}

#screen {
    width: 120px;
    padding: 40px;
    background: gray;
    color: white;
}

#shine {
    width: 120px;
    padding: 40px;
    background: gray;
    color: white;
}
