.back a:hover {
    opacity: 0.6;
    transition: 0.3s;
}

#door:hover {
    cursor: pointer;
    opacity: 0.5;
    transition: 0.3s;
}

#lock:hover {
    cursor: pointer;
    opacity: 0.5;
    transition: 0.3s;
}

#desk:hover {
    cursor: pointer;
    opacity: 0.5;
    transition: 0.3s;
}

#computer:hover {
    cursor: pointer;
    opacity: 0.5;
    transition: 0.3s;
}

#chair:hover {
    cursor: pointer;
    opacity: 0.5;
    transition: 0.3s;
}

#lectern:hover {
    cursor: pointer;
    opacity: 0.5;
    transition: 0.3s;
}

#screen:hover {
    cursor: pointer;
    opacity: 0.5;
    transition: 0.3s;
}

#shine:hover {
    cursor: pointer;
    opacity: 0.5;
    transition: 0.3s;
}

